
.gitattributes
world/
mods/
logs/
libraries/
defaultconfigs/
.mixin.out
1.16.4.json
banned-ips.json
banned-players.json
changelog.txt
LICENSE
*.jar
ops.json
rusticwanderings.code-workspace
server.properties
usercache.json
whitelist.json
eula.txt
crash-reports/
config/worldedit/sessions/
usernamecache.json
maessentials/players/
config/worldedit/worldedit.properties
dumps/
config/worldedit/worldedit.properties
