#Git ignore

.gitattributes
.mixin.out/
crash-reports/
defaultconfigs/
dumps/
gameobjects/
libraries/
local/
logs/
mods/
world/

#KubeJS Scripts
kubejs/README.txt







#Ect files
1.16.4.json
banned-ips.json
banned-players.json
eula.txt
forge-1.16.4-35.1.36.jar
minecraft_server.1.16.4.jar
ops.json
server.properties
usercache.json
usernamecache.json
whitelist.json